html{
    font-size: 12px;
}
body{  
    font-family: 'Ubuntu', sans-serif;
} 
/*Pantalla de inicio de sesión*/
.logo{
    position: absolute;
    width: 153px;
    height: 129px;
    left: 103px;
    top: 30px;
}
#signInScreen h1{
    position: absolute;
    width: 176px;
    left: 92px;
    top: 170px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #F96D15;
}
.input{
    width: 315px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F96D15;
    box-sizing: border-box;
}
.btnLogIn{    
    width: 225px;
    height: 50px;
    left: 67px;
    top: 360px;
    background: #F96D15;
    border: #F96D15;
    color:#FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}
#logInSignIn{
    position: absolute;
    width: 225px;
    height: 50px;
    left: 67px;
    top: 360px;
}
#signIn{
    position: absolute;
    width: 225px;
    height: 50px;
    left: 67px;
    top: 421px;
}
h2{
    position: absolute;
    width: 217px;
    height: 33px;
    left: 74px;
    top: 500px;
    font-weight: bold;
    text-align: center;
    color: #F96D15;
}
#emailSignIn{
    position: absolute;
    left: 22px;
    top: 233px;
}
#passwordSignIn{
    position: absolute;
    left: 22px;
    top: 288px;
}
.gmailIcon {
    position: absolute;
    width: 55px;
    height: 41px;
    left: 120px;
    top: 555px;
}
.facebookIcon{
    position: absolute;
    width: 41px;
    height: 42px;
    left: 192px;
    top: 555px;
}

/*Pantalla de registro*/
#logInScreen h1{
    position: absolute;
    left: 55px;
    top: 170px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #F96D15;
}
#name{
    position: absolute;
    width: 315px;
    height: 44px;
    left: 22px;
    top: 233px;
}
#emailLogIn{
    position: absolute;
    left: 22px;
    top: 288px;
}
#passwordLogIn{
    position: absolute;
    left: 22px;
    top: 342px;
}
#alcaldias{
    position: absolute;
    left: 22px;
    top: 397px;
    color: #6b6a6a;
}
#logIn{
    position: absolute;
    top: 469px;
    background: #F96D15;
}