html{
    font-size: 12px;
}
body{  
    font-family: 'Ubuntu', sans-serif;
} 
/*Pantalla de inicio de sesión*/
.logo{
    position: absolute;
    width: 153px;
    height: 129px;
    left: 103px;
    top: 30px;
}
#viewLoginScreen h1{
    position: absolute;
    width: 176px;
    left: 92px;
    top: 170px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #F96D15;
}
.input{
    width: 315px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F96D15;
    box-sizing: border-box;
}
.orangeButton{    
    background: #F96D15;
    border: #F96D15;
    color:#FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}
#login{
    position: absolute;
    width: 225px;
    height: 50px;
    left: 67px;
    top: 360px;
}
#createAccount{
    position: absolute;
    width: 225px;
    height: 50px;
    left: 67px;
    top: 421px;
}
h2{
    position: absolute;
    width: 217px;
    height: 33px;
    left: 74px;
    top: 500px;
    font-weight: bold;
    text-align: center;
    color: #F96D15;
}
#emailLogin{
    position: absolute;
    left: 22px;
    top: 233px;
}
#passwordLogin{
    position: absolute;
    left: 22px;
    top: 288px;
}
.gmailIcon {
    position: absolute;
    width: 55px;
    height: 41px;
    left: 120px;
    top: 555px;
}
.facebookIcon{
    position: absolute;
    width: 41px;
    height: 42px;
    left: 192px;
    top: 555px;
}

/*Pantalla de registro*/
#createAccountScreen h1{
    position: absolute;
    left: 55px;
    top: 170px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #F96D15;
}
#name{
    position: absolute;
    width: 315px;
    height: 44px;
    left: 22px;
    top: 233px;
}
#emailCreateAccount{
    position: absolute;
    left: 22px;
    top: 288px;
}
#passwordCreateAccount{
    position: absolute;
    left: 22px;
    top: 342px;
}
#alcaldias{
    position: absolute;
    left: 22px;
    top: 397px;
    color: #6b6a6a;
}
#btnSignin{
    position: absolute;
    top: 469px;
    width: 225px;
    height: 50px;
    left: 67px;
    background: #F96D15;
}

/* HEADER */
.logoMenu{
    position: flex;
    width: 55px;
    height: 46px;
    left: 21px;
    top: 20px;    
}
.menu{
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    display: flex;
    align-items: center;    
}
.menuItems{
    display: flex;
    list-style:none;
    margin-right: 30px;
}

.menuItems li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #F96D15;
}
.menuIcon{
    position: absolute;
    width: 25px;
    height: 33px;
    left: 312px;
    top: 26px;
}
.btnMenu{
    margin-right: 30px;
    cursor:pointer;
    display:none;
}
ul.show{
    top:65px;
}
@media screen and (max-width: 952px){
   .menuItems li a{
       font-size: 16px;
   }
}
@media screen and (max-width: 858px){
    .menu {
        height: 65px;
    }
    .btnMenu {
        display:inline-flex;
    }
    .menuItems {
        position: fixed;
        width: 100vw;
        height: calc(100% -65px);
        background: black;
        top:-100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menuItems li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menuItems li a{
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
}
/* FEED SCREEN */
#goPostScreen{
    /* position: absolute; */
    width: 314px;
    height: 72px;
    left: 23px;
    top: 72px; 
    border-radius: 10px;
    font-weight: bold;
    font-size: 36px;
}
/* #profilePicture{
    position: absolute;
    width: 58px;
    height: 34px;
    left: 14px;
    top: 175px; 
    color: #F96D15;
}
.postData{
    position: absolute;
    width: 88px;
    height: 28px;
    left: 74px;
    top: 176px;
} */
/* .postData li{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #F96D15;
} */
/* .postFeed{
    position: absolute;
    width: 360px;
    height: 154px;
    left: 0px;
    top: 231px;
    background: #e4dede; 
} */
.likeIcon{
    /* position: absolute; */
    width: 45px;
    height: 40px;
    left: 88px;
    top: 398px;
}
.editIcon{
    /* position: absolute; */
    width: 42px;
    height: 38px;
    left: 168px;
    top: 401px;

}
.deleteIcon{
    /* position: absolute; */
    width: 43px;
    height: 39px;
    left: 245px;
    top: 400px;
}