html {
  font-size: 12px;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  background-image: url(./images/mobileBack.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/*Pantalla de inicio de sesión*/
#viewLoginScreen {
  display: flex;
  flex-flow: column;
}
.logoForm {
  display: flex;
  justify-content: center;
}
.logo {
  width: 153px;
  height: 129px;
  align-content: center;
  margin-top: 20px;
}
.homeForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#viewLoginScreen h1 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #f96d15;
  margin-top: 30px;
  margin-bottom: 0px;
}
.input {
  width: 315px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #f96d15;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.orangeButton {
  padding-bottom: inherit;
  background: #f96d15;
  border: #f96d15;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
#login {
  width: 225px;
  height: 50px;
}
#createAccount {
  width: 225px;
  height: 50px;
}
h2 {
  width: 217px;
  height: 33px;
  font-weight: bold;
  text-align: center;
  color: #f96d15;
}
.snForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.iconSnForm {
  display: flex;
  justify-content: center;
}
.gmailIcon {
  width: 55px;
  height: 41px;
}
.facebookIcon {
  width: 41px;
  height: 42px;
}

.error {
  color: rgb(121, 10, 10);
  font-size: 16px;
  background-color: rgba(245, 12, 12, 0.39);
  padding: 3px;

}
/*Pantalla de registro*/
#createAccountScreen h1 {
  font-size: 30px;
  color: #f96d15;
}
#alcaldias {
  color: #6b6a6a;
}
#btnSignin {
  width: 225px;
  height: 50px;
}
/* HEADER */
.menu {
  height: 72px;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c4c4c4;
}
.logoMenu {
  width: 55px;
  height: 46px;
  margin-left: 20px;
}
.menu .iconHeader {
  position: absolute;
  right: 20px;
}
.menuIcon {
  width: 40px;
  height: auto;
}
.alcaldiasIcon {
  width: 29px;
  height: auto;
}

/* FEED SCREEN */
.container2 {
    background-image: url(./images/mobileBack.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}
#btnPost {
  display: flex;
  justify-content: center;
}
#goPostScreen {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}
.postContainer {
  justify-content: center;
}
.singlePost {
  background: white;
  margin: 10px 20px 10px 10px;
  padding: 20px 50px 20px 50px;
  font-size: 1.7rem;
  color: #645d5d;
}
.optionsBtn{
  display: flex;
  color: #f96d15;
}

.likeIcon {
  width: 45px;
  height: 40px;
  left: 88px;
  top: 398px;
}
.editIcon {
  width: 42px;
  height: 38px;
  left: 168px;
  top: 401px;
}
.deleteIcon {
  width: 43px;
  height: 39px;
  left: 245px;
  top: 400px;
}
/*Post screen*/
.imageIcon {
  position: absolute;
  width: 32px;
  height: auto;
  left: 24px;
  top: 529px;
}
.toPost {
  padding-bottom: inherit;
  background: #f96d15;
  border: #f96d15;
  color: #ffffff;
  position: absolute;
  width: 116px;
  height: 30px;
  left: 218px;
  top: 529px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}
.textPost {
  position: absolute;
  width: 367px;
  height: 427px;
  left: -4px;
  top: 150px;
  background: #ffffff;
  font-family: "Ubuntu";
  padding: 20px;
}
#alcaldiasPost {
  color: #6b6a6a;
  font-family: 'Ubuntu';
  margin-top: 15px;
}
